<div id="<%= dom_id publication %>">
  <p>
    <strong>User:</strong>
    <%= publication.user_id %>
  </p>

  <p>
    <strong>Caption:</strong>
    <%= publication.caption %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= publication.image %>
  </p>

</div>
